body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.container {
    background: #007BFF; /* Blue background for the container */
    color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center; /* Center align text inside the container */
}

table {
    width: 100%;
    margin-bottom: 20px;
}

td {
    padding: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    color: #000; /* Black text for the input fields */
}

button {
    padding: 10px;
    background-color: #0056b3;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #004080;
}

#result {
    margin-top: 20px;
    font-weight: bold;
    color: #fff; /* White text for the result */
}
